{% extends 'base.html.twig' %}

{% block content %}
    <div class="block">
        <p>
            Si un compte existe avec cette adresse email, alors un email vient juste d'être envoyé et qui va contenir un lien que vous pouvez utilisez pour réinitialiser votre mot de passe.
            Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
        </p>
        <p>Si vous ne recevez pas d'email merci de vérifier dans votre dossier pourriel ou <a href="{{ path('app_forgot_password_request') }}">réessayez</a>.</p>
    </div>
{% endblock %}
