li {
    margin-left: 60px;
    margin-right: 190px;
}

.email-contact {
    color: white;
    list-style: none;
    font-weight: 100;
}

.infos {
    color: white;
    list-style-type: none;
    font-weight: 100;
    padding-bottom: 10px;
}

.infos-footer {
    display: flex;
}

#footerText {
    display: flex;
    background-color: #000000;
    padding: 50px;
    margin-top: 19px;
}

.infos-version {
    color: white;
    font-weight:100;
    list-style-type: none;
}

.footerRight {
    padding-left: 25%;
}