.block {
    margin-left: 150px;
    margin-top: 50px;
}

.btn-ajout {
    margin-left: 30px;
}

.btn-update-infos {
    margin-top: 30px;
}

.forgot-password {
    color: #000000;
    margin-left: 30px;
}

.btn-location {
    margin-left: 20px;
}

.form {
    width: 50%;
}

.forgot-password:hover {
    color: #000000;
    text-decoration: none;
}

.locations {
    display: block;
}

.link-update {
    color: #FFFFFF;
}

.link-update:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.user-infos {
    color: #000000;
}

.user-infos:hover {
    color: #000000;
    text-decoration: none;
}

.title-location {
    float: left;
}