.block {
    margin-left: 150px;
    margin-top: 50px;
}

.btn-ajout {
    margin-left: 30px;
}

.btn-update-infos {
    margin-top: 30px;
}

.block_locataire {
    margin-left: 150px;
    margin-top: 68px;
    margin-bottom: 205px;
}

.block_mandataire {
    margin-left: 150px;
    margin-top: 69px;
    margin-bottom: 180px;
}

.btn-location {
    margin-left: 20px;
}


.forgot-password {
    color: #000000;
    margin-left: 30px;
}

.disponible {
    background-color: #E5E8E8;
    margin-right: 20px;
}




.form {
    width: 50%;
}

.form-control {
    font-weight: 700!important;
}

.forgot-password:hover {
    color: #000000;
    text-decoration: none;
}

.locations {
    display: block;
    margin-left: 60px;
}

.link-update {
    color: #FFFFFF;
}

.link-update:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.user-infos {
    color: #000000;
}

.user-infos:hover {
    color: #000000;
    text-decoration: none;
}
.title-location {
    float: left;
    color: #B16847;
    font-family: Helvetica;
    letter-spacing: -1.5px;
    margin-bottom: 50px;
    margin-right: 40px;
}

.title-mandataire {
    float: left;
    margin-bottom: 50px;
    color: #B16847;
    font-family: Helvetica;
    letter-spacing: -1.5px;
}

.title-form {
    font-family: Helvetica;
    letter-spacing: -1.5px;
}

/* Arrow right */
.arrow {
    position: absolute;
    width: 8vmin;
    height: 8vmin;
    background: transparent;
    border-top: 1vmin solid black;
    border-right: 1vmin solid black;
    box-shadow: 0 0 0 lightgray;
    transition: all 200ms ease;
}

.arrow.right {
    transform: translate3d(0, -50%, 0) rotate(45deg);
    margin-left: 800px;
    margin-top: -50px;
}

/* Background color of the status of a serie */
.bg-status-serie{
    background-color: #D1D0D0;
    border-radius: 15px;
    padding: 0 10px;
}

/* Background color of a categorie of a serie */
.bg-categorie-serie{
    background-color: #C3EFFD;
    border-radius: 15px;
    padding: 0 10px;
}

.btn-acceder {
    background-color: #B16847;
    color: #FFFFFF;
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1500px!important;
}

.city {
    float: left;
    margin-top: 7px;
    margin-left: 100px;
}

.custom-select {
    width: 180px;
    margin-left: 50px;
}

/* Description of a serie */
.description-serie{
    margin-top: 48px;
    width: 766px;
    color: #000000!important;
}

.description-serie2 {
    margin-top: 0;
    width: 766px;
    color: #000000!important;
}

.description-serie3 {
    margin-top: 0;
    width: -1px;
    color: #000000!important;
}

.description-serie4 {
    margin-top: 0;
    width: -1px;
    color: #000000!important;
}

/* Principal div of the page */
.detail-serie{
    padding: 30px 150px;
}

.detail-serie2{
    padding: 30px 1px;
}

/* Picture of a serie */
.img-serie{
    width: 230px;
    height: 200px;
    float: left;
}

.img-serie2 {
    width: 470px;
    height: 250px;
    float: left;
    margin-bottom: 20px;
}

/* Link to go and see the details of a serie */
.link-view-serie{
    text-decoration: none;
    color: #B16847;
}

/* Link to go and see the details of a serie when you over*/
.link-view-serie:hover{
    text-decoration: none;
    color: #B16847;
}

/* Informations of a serie */
.info-serie{
    float: left;
    font-size: 11px;
    color: #000000!important;
}

.info-serie{
    font-size: 11px;
    color: #000000!important;
}

/* Title of the page */
.title-detail-serie{
    font-family: 'Roboto', sans-serif;
    color: #B16847;
    float: left;
}

/* Title of a serie */
.title-series{
    padding-left: 250px;
}

.title-series2{
    padding-left: 0px;
}

/* Spacement of the serie information */
.space-info{
    margin-left: 5px;
}

/* Responsive of the page */
@media only screen and (max-width: 600px){
    .detail-serie{
        padding: 20px 0;
    }

    .description-serie{
        width: auto;
        color: #0a0a0a;
    }

    .arrow.right{
        display: none;
    }
}
