<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Create</title>
        {% block stylesheets %}

        {% endblock %}
    </head>

    <body>
        {% block body %}
            <div>
                <h3>Page d'administration</h3>
            </div> 
        {% endblock %}
    </body>
</html>