{% include 'includes/admin_head.html.twig' %}
{% block body %}

        <div style="margin-left: 5%;margin-top: 3%">
            <h1>White Gordon</h1>
            <p>Vous êtes inscrit en tant que <strong>locataire</strong> sur la plateforme</p>

            <h2>Actions :</h2>
            <a href="">>Afficher mes locations</a>
            <br><a href="">>Supprimer mon compte</a>
        </div>

        </div>
{% endblock %}
{% include 'includes/_footer.html.twig' %}