
    <div id="footerText">
        <div class="footerLeft">
            <ul>
                <li class="infos li">Gestion locative</li>
                <li class="infos li">Contact telephone : 06 06 06 06 06</li>
                <li class="email-contact li">Contact email : contact@gestionlocative.fr</li>
            </ul>
        </div>
        <div class="footerRight">
            <ul>
                <li class="infos-version li">Version 1.0</li>
            </ul>
        </div>
    </div>