{% extends 'base.html.twig' %}

{% block body %}
<!-- Menu de navigation -->
        <nav class="navbar-background">
            <div class="infos-accueil">
                <a href="#" class="link-home links-navbar">LOGO</a>
                <a href="#" class="links-navbar-accueil">ACCUEIL</a>
            </div>
            <div class="infos-user">
            </div>
        </nav>
{% endblock %} 