{% extends 'base.html.twig' %}

{% block body %}
    <div id="footerText">
        <div class="footerDiv">
            <ul>
                <li class="footerText">My Series Companion</li>
                <li class="footerText">2020</li>
            </ul>
        </div>
        <div class="footerDiv">
            <ul>
                <li class="footerText">Nous contacter</li>
                <li class="contact">Email : contact@myseriescompanion.fr</li>
                <li class="contact">Web : https://myseriescompanion.fr</li>
            </ul>
        </div>
    </div>
{% endblock %}