{% extends 'base.html.twig' %}

{% block body %}
	<div id="idMenuNav">
		<nav class="navbar">
			<ul>
				<a id="linkHome">MY SERIES COMPANION</a>

				<!--LIENS-->

				<a class="linkNav" href="">Mes séries</a>
				<a class="linkNav" href="">Ajouter</a>
			</ul>
			<ul>
				<a class="linkNav" href=""><i class="fas fa-user-circle"></i>Mon profil</a>
				<a class="linkNav" href="">Déconnexion</a>
			</ul>
		</nav>
	</div>
{% endblock %}